<html lang="en">
<%- include("./partials/head/_head") %> 

<body>
  <%- include("./partials/navbar/_navbar") %> 
  <h1> <%= error %> </h1>


  <%- include("./partials/footer/_footer") %> 

</body>
</html>