<footer class="uk-navbar-container footer" uk-navbar>
  <div class="uk-navbar-center">
    <ul class="uk-navbar-nav">
      <li>
        <a href="/home" class="uk-navbar-item uk-logo"> 
          <img class="uk-logo" src="/assets/FotoNegative Logo.png" alt="fn logo" />
        </a>
      </li>
      <li>
        <a href="/about" class="uk-navbar-item"> About </a>
      </li>
    </ul>
  </div>
</footer>