<footer class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-center">
    <a href="/home" class="uk-navbar-item uk-logo"> 
      <img class="uk-logo" src="/assets/FotoNegative Logo.png" alt="fn logo" />
    </a>
    <a href="/about" class="uk-navbar-item"> About </a>
  </div>
</footer>