<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" href="/home">
      <img class="uk-logo" src="/assets/favicon/apple-touch-icon.png" alt="fn logo" />
    </a>
  </div>

  <div class="uk-navbar-right">
    <a class="uk-navbar-item" href="/cameras"> Cameras </a>
    <a class="uk-navbar-item" href="/login"> Login </a>
    <a class="uk-navbar-item" href="/register"> Register </a>
  </div>
</nav>
