<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <a href="/home">
      <img src="/assets/FN_Logo.png" alt="fn logo" />
    </a>
  </div>

  <div class="uk-navbar-right">
    <a href="/cameras"> Cameras </a>
    <a href="/login"> Login </a>
    <a href="/register"> Register </a>
  </div>
</nav>
