

<div id="offcanvas-overlay" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
      <button class="uk-offcanvas-close" type="button" uk-close></button>

        <ul class="uk-nav uk-nav-default">
            <li class=""><a href="/home">Home</a></li>
            <li class="uk-parent">
                <a href="/cameras">All Cameras</a>
                <ul class="uk-nav-sub">
                    <li><a href="/cameras/filter/film">Film</a></li>
                    <li><a href="/cameras/filter/digital">Digital</a></li>
                </ul>
            </li>
            <li class="uk-parent">
                <a href="#">Categories</a>
                <ul class="uk-nav-sub">
                    <li><a href="/cameras/category/0">DSLR</a></li>
                    <li><a href="/cameras/category/1">SLR</a></li>
                    <li><a href="/cameras/category/2">ZLR</a></li>
                    <li><a href="/cameras/category/3">TLR</a></li>
                    <li><a href="/cameras/category/4">Mirrorless</a></li>
                    <li><a href="/cameras/category/5">Medium Format</a></li>
                    <li><a href="/cameras/category/6">Point and Shoot</a></li>
                    <li><a href="/cameras/category/7">Full Frame</a></li>
                    <li><a href="/cameras/category/8">Disposable</a></li>
                    <li><a href="/cameras/category/9">Smartphone</a></li>
                    <li><a href="/cameras/category/10">Polaroid Instant</a></li>
                    <li><a href="/cameras/category/11">Rangefinder</a></li>
                    <li><a href="/cameras/category/12">Large Format</a></li>
                    <li><a href="/cameras/category/13">Other</a></li>
                </ul>
            </li>
        </ul>

    </div>
</div>