

<div id="offcanvas-overlay" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
      <button class="uk-offcanvas-close" type="button" uk-close></button>

        <ul class="uk-nav uk-nav-default">
            <li class="uk-active"><a href="/home">Home</a></li>
            <li class="uk-parent">
                <a href="#">Camera Type</a>
                <ul class="uk-nav-sub">
                    <li><a href="#">Film</a></li>
                    <li><a href="#">Digital</a></li>
                </ul>
            </li>
            <li class="uk-parent">
                <a href="#">Categories</a>
                <ul class="uk-nav-sub">
                    <li><a href="#">DSLR</a></li>
                    <li><a href="#">SLR</a></li>
                    <li><a href="#">ZLR</a></li>
                    <li><a href="#">TLR</a></li>
                    <li><a href="#">Mirrorless</a></li>
                    <li><a href="#">Medium Format</a></li>
                    <li><a href="#">Point and Shoot</a></li>
                    <li><a href="#">Full Frame</a></li>
                    <li><a href="#">Disposable</a></li>
                    <li><a href="#">Smartphone</a></li>
                    <li><a href="#">Polaroid / Instant</a></li>
                    <li><a href="#">Rangefinder</a></li>
                    <li><a href="#">Large Format</a></li>
                    <li><a href="#">Other</a></li>
                </ul>
            </li>
        </ul>

    </div>
</div>