@use "../_variables/" as *;
*{
  box-sizing: border-box;
}

/* Navbar & Footer Home*/
.uk-navbar-transparent{
  background-color: rgb(0, 0, 0, 0.2);
  .nav_logo{
    margin:1rem;
    padding: 1.3rem;
    width: 8rem;
    height: auto;
    border: 2px solid $firebrick;
    z-index: 1;
  }
  .footer{
    width: 5rem;
    height: auto;
    box-shadow: 2px 2px 2px 1px $fuzzy-wuzzy;
  }
  a.uk-navbar-item{
    color: $honey-yellow;
    text-shadow: 2px 2px 1px $persian-red;
  }
  a.uk-navbar-item:hover{
    color: $persian-red;
    text-shadow: 2px 1px 0.5px $selective-yellow
  }
}


/* Footer for All*/
.footer.uk-navbar-container{
  background: $pastel-pink;
  padding: 0.5rem;

  .uk-navbar-item{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  img{
    width: 5rem;
    height: auto;
    box-shadow: 2px 2px 2px 1px $fuzzy-wuzzy;
  }
}