* {
  box-sizing: border-box;
}

/* Navbar & Footer Home*/
.uk-navbar-transparent {
  background-color: rgba(0, 0, 0, 0.2);
}
.uk-navbar-transparent .nav_logo {
  margin: 1rem;
  padding: 1.3rem;
  width: 8rem;
  height: auto;
  border: 2px solid #C92C2C;
  z-index: 1;
}
.uk-navbar-transparent .footer {
  width: 5rem;
  height: auto;
  box-shadow: 2px 2px 2px 1px #BD6060;
}
.uk-navbar-transparent a.uk-navbar-item {
  color: #FAAC02;
  text-shadow: 2px 2px 1px #C92C2C;
}
.uk-navbar-transparent a.uk-navbar-item:hover {
  color: #C92C2C;
  text-shadow: 2px 1px 0.5px #FABB2E;
}

/* Navbar for All */
nav.uk-navbar-container:not(.uk-navbar-transparent) {
  background-color: #FDECC3;
}
nav.uk-navbar-container:not(.uk-navbar-transparent) .nav_logo {
  margin: 1rem;
  padding: 1.3rem;
  width: 8rem;
  height: auto;
  border: 2px solid #B72828;
  z-index: 1;
}
nav.uk-navbar-container:not(.uk-navbar-transparent) a, nav.uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-item {
  color: #FAAC02;
  text-shadow: 1px 1px 1px #C92C2C;
}
nav.uk-navbar-container:not(.uk-navbar-transparent) a, nav.uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-item:hover {
  color: #C92C2C;
  text-shadow: 2px 1px 0.5px #FABB2E;
}

/* Footer for All*/
.footer.uk-navbar-container {
  background: #FDECC3;
  padding: 0.5rem;
}
.footer.uk-navbar-container .uk-navbar-item {
  margin-left: 1rem;
  margin-right: 1rem;
}
.footer.uk-navbar-container img {
  width: 5rem;
  height: auto;
  box-shadow: 2px 2px 2px 1px #BD6060;
}
.footer.uk-navbar-container a.uk-navbar-item {
  color: #FAAC02;
  text-shadow: 1px 1px 1px #C92C2C;
}
.footer.uk-navbar-container a.uk-navbar-item:hover {
  color: #C92C2C;
  text-shadow: 2px 1px 0.5px #FABB2E;
}

/* Login page*/
.login.uk-position-center {
  background-color: rgba(250, 187, 46, 0.9);
  padding: 2rem;
}

/* Register Page */
.register.uk-position-center {
  background-color: rgba(250, 187, 46, 0.9);
  padding: 2rem;
}

/* Login Modal -Home */
.login.uk-modal-dialog {
  background-color: #FABB2E;
  padding: 2rem;
  box-shadow: 2px 2px 2px 1px #BD6060;
  display: grid;
  gap: 1rem;
  border-radius: 5px;
}
.login.uk-modal-dialog .login_form {
  justify-self: center;
  min-width: 10rem;
}

/* Profile Page */
.profile {
  padding: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  background-color: rgba(253, 236, 195, 0.4);
}
.profile .profile_top {
  padding: 2rem;
}
.profile .profile_left_section {
  padding: 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.profile .profile_right_section {
  padding: 2rem;
  margin: 1rem;
}
.profile .profile_right_section h3 {
  text-align: center;
  letter-spacing: 2px;
  color: #FABB2E;
  text-shadow: 1px 1px 1px #C92C2C;
}
.profile .profile_right_section .profile_info, .profile .profile_right_section .link_button {
  text-align: center;
}
.profile .profile_buttons {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.profile .profile_comment_images .images {
  background-color: white;
  padding: 2rem;
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile .profile_comment_images .images:hover {
  box-shadow: 2px 2px 2px 1px #BD6060;
}
.profile .profile_comment_images img {
  max-width: 20rem;
  height: auto;
}

/* Cameras Index Page */
.cameras_container {
  padding: 2rem;
  margin: 2rem;
}
.cameras_container .camera_card {
  padding: 1rem;
  margin: 1rem;
  max-width: 25vw;
  height: auto;
}
.cameras_container .camera_card .camera_image {
  max-width: 20vw;
  height: auto;
}

/* Show Page */
.camera_page {
  background-color: rgba(253, 236, 195, 0.4);
  padding: 2rem;
}
.camera_page h1, .camera_page h3 {
  letter-spacing: 2px;
  color: #FABB2E;
  text-shadow: 1px 1px 1px #C92C2C;
  margin: 2rem;
}
.camera_page .camera {
  background-color: rgba(250, 172, 2, 0.2);
  padding: 2rem;
  margin: 2rem;
  border-radius: 5px;
}
.camera_page .camera img {
  box-shadow: 2px 2px 2px 1px #BD6060;
  border-radius: 5px;
}
.camera_page .camera .camera_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.camera_page .camera .camera_image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.camera_page .camera .camera_info_meta {
  border-radius: 5px;
  background-color: whitesmoke;
  margin: 3rem;
  padding: 3rem;
  box-shadow: 2px 2px 2px 1px #FABB2E;
}
.camera_page .comment_form {
  border-radius: 5px;
  padding: 2rem;
  margin: 2rem;
  background-color: #D49B9B;
  box-shadow: 2px 2px 2px 1px #FABB2E;
}
.camera_page .comment_form .form {
  padding: 1rem;
}
.camera_page .comment_form .form_bottom {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.comment {
  padding: 2rem;
  margin: 2rem;
  background-color: #FDECC3;
  border: 2px #B72828;
  border-radius: 3px;
  box-shadow: 3px 3px 2px 1px #BD6060;
}
.comment .content h4 {
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}
.comment .comment_button {
  display: flex;
}
.comment .uk-comment-title {
  letter-spacing: 2px;
  color: #FABB2E;
  text-shadow: 1px 1px 1px #C92C2C;
}

/* Edit Modal */
.modal_edit {
  border-radius: 5px;
  padding: 2rem;
  background-color: #D49B9B;
  box-shadow: 2px 2px 2px 1px #FABB2E;
}
.modal_edit .modal_edit_form {
  padding: 1rem;
}
.modal_edit .top {
  padding: 1rem;
}
.modal_edit .bottom {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
