$honey-yellow: #FAAC02;
$honey-yellow2: #FAB419;
$selective-yellow: #FABB2E;
$orange-yellow-crayola: #FCD479;
$lemon-meringue: #FDECC3;
$persian-red: #C92C2C;
$firebrick: #B72828;
$auburn: #A62424;
$fuzzy-wuzzy: #BD6060;
$pastel-pink: #D49B9B;